@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --red-text: rgb(189, 54, 8);
}

h1, h2, h3, h4, h5, h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--red-text);
}

.aboutAdvert {
  padding: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
}

.aboutAdvert h1, h2 {
  padding: 2rem 0;
}

.aboutAdvert h1 {
  font-size: 4rem;
}

.aboutAdvert h2 {
  font-size: 3rem;
}

.blackLogo {
  background-color: rgb(202, 202, 202);
  border-radius: 50%;
}

.contactAdditionInfo {
  color: rgb(148, 148, 148)
}

.contactColumn {
  margin-bottom: 3rem;
}

.contactNumber {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.contactNumber:hover {
  color:  rgb(241, 182, 4);
  font-weight: 700;
}

.iconHomePage {
  color:rgb(189, 54, 8);
  font-size: 10rem;
}

.iconYellow {
  color:rgb(189, 54, 8);
  font-size: 2rem;
}

.infoCard {
  background-color: rgb(253, 250, 240);
  width: 14rem;
  height: 27rem;
  margin: 2rem;
}

.infoCardLinks {
  display: block;
  width: 100%;
}

.infoCardLinks.card-link {
  margin: 0;
}

.horizontalCenter {
  display: flex;
  align-items: center;
}

.roomCard {
  margin: 2rem;
  border-radius: 10px;
}

.carousel_image {
  max-width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: 15% 70%;
}

.dividerContainer {
  margin: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dividerLine {
  width: 30%;
  border-style: hidden;
  border-bottom: solid 0.2px rgba(255, 193, 7, 0.7);
}

.footer {
  height: 10rem;
  z-index: 0;
  position: relative;
  width: 100%;
  color: rgba(200, 200, 200, 0.9)
}

.homeAdvertContainer{
  padding: 2rem 2rem;
  font-size: 1.3rem;
}

.homeAdvertHeader{
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.modal-90w {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
}

.modalH1 {
  color:rgba(224, 171, 9, 1)
}

.modalMainPicture{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 350px;
}

.modalSmallPicture {
  height: 4rem;
  width: auto;
  margin: 0.5rem .5rem .5rem 0;
  border:rgba(200, 200, 200, 0.9) solid .5px;
  cursor: pointer;
}

.modalSmallPicture:hover {
  box-shadow:0 0 2px 3px rgb(241, 182, 4);
}

.navBar {
  /* background-color: rgba(255, 244, 211, 1); */
  background-color: rgb(248, 249, 250);
  border-bottom: 0.5px rgb(222, 64, 11) solid;
}

.navBarLinks {
  font-weight: 600;
  color: rgb(222, 64, 11);
}

.navBarLinks:hover {
  color: rgb(241, 182, 4);
}

.noPadding {
  padding: 0;
}

.perfectCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.priceAdditional {
  color: rgba(160, 160, 160, 1)
}

.priceGreen {
  color: rgba(0, 128, 9, 1);
  margin: 1rem 0;
}

.redBold {
  font-weight: bold;
  color: var(--red-text);
}

.resizePicture{
  margin-top: 10%;
  width: 100%;
  height: auto;
}

.roomCardDescribe {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.roomCardPicture {
  width: 20rem;
  height: auto;
}

.roomCardPictureContainer {
  overflow: hidden;
  height: auto;
  max-height: 210px;
  width: 20rem;
}

.sharpEdges {
  border-radius: 0;
}

.sharpTopEdges {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width:600px) {
  .aboutAdvert h1 {
    font-size: 2.6rem;
  }

  .aboutAdvert h2 {
    font-size: 2.3rem;
  }

  .modal-90w {
    max-width: 100%;
    width: 100%;
    margin: 0;
  }

  .modalMainPicture{
    width: auto;
    height: auto;
  }

  #gmap_canvas {
    width: 90vw;
  }

  .roomCardPicture {
    width: 19rem;
    height: auto;
  }
}